<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducaCursos</title>
    <link rel="stylesheet" href="{% static 'Home/stylecursos.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao EducaCursos</h1>
    </header>

    <div class="container">
        <div class="courses">
            <div class="course">
                <a href="{% url 'Home:6matematica' %}">6° Ano Matemática</a>
            </div>
            <div class="course">
                <a href="{% url 'Home:7matematica' %}">7° Ano Matemática</a>
            </div>
            <div class="course">
                <a href="{% url 'Home:8matematica' %}">8° Ano Matemática</a>
            </div>
            <div class="course">
                <a href="{% url 'Home:9matematica' %}">9° Ano Matemática</a>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 EducaCursos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
